.quoteRating{
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ronThinking{
    height: 18%;
    width: 18%;
    border: 1px solid black;
    border-radius: 20%;
    opacity: .7;
    margin: 0;
    padding: 0;
}

.sizeChoice{
    text-align: center;
    margin: 0;
    padding: 0;
    left: 40%;
    width: 600px;
    background-color: rgba(0, 255, 255, 0.548); 
    border-radius: 5%;
}

.sizeChoice label{
    color: rgba(30, 9, 54, 0.629);
    font-size: 22px;
    padding: 0 10px 0 10px;
    margin: 0;
}

#userInfo{
    font-size: 17px;
    margin: 0 0 15px 0;
    color: rgba(30, 9, 54, 0.629);
}

#quoteText{
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(63, 21, 112, 0.729); 
}

#quoteButton{
    background-color: rgba(29, 19, 167, 0.548);
    margin: 0;
    padding: 15px;
    color: rgba(0, 255, 255, 0.548);
    border-radius: 10%;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgba(29, 19, 167, 0.548);
}

#quoteButton:hover{
    background-color: rgba(6, 50, 58, 0.848);
    border: 5px solid rgba(29, 19, 167, 0.548);
    cursor: pointer;
}

#starComponenet{
    margin: 0;
}